body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#signupForm {
  padding: 30px;
  margin: 20px auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 2.5em;
  color: #a50000;
}

label {
  font-weight: bold;
}

.btn-danger {
  background-color: #a50000;
  border: none;
  width: 100%;
  padding: 10px;
}

.btn-danger:hover {
  background-color: #900000;
}
