* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Bodoni Moda", serif;
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  font-size: 2.7em;
  margin: 40px 0;
}

h3 {
  font-size: 2em;
  margin: 20px 0;
}

p {
  font-size: 1.25em;
  font-weight: 900;
  margin: 0 0 20px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

header {
  color: #fffff0;
}

header .logo {
  margin: 0;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  color: #a50000 !important;
  letter-spacing: 0.1rem;
}

header nav a {
  text-decoration: none;
  font-weight: bold;
  color: #fffff0 !important;
}

header nav a:hover {
  color: #a50000 !important;
}

.navbar {
  background-color: #1c1c1c !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fffff0;
}

.navbar-toggler {
  background-color: #a50000;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.redHighlightCreepster {
  font-family: "Creepster", system-ui;
  color: #a50000;
  font-weight: 400;
  padding: 0px 10px;
}

.redHighlight {
  color: #a50000;
}

#section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fffff0;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/nosferatu.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#section2 {
  padding: 50px 0;
}

#section2 .container {
  text-align: center;
}

#section2 .container h3 {
}

#section2 .img-container {
}

#section3 {
  text-align: center;
  padding: 50px 0;
}

#section3 p {
  font-size: 0.8em;
  font-weight: lighter;
  color: white;
}

.blogs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  background-color: #1c1c1c;
  transition: opacity 0.5s ease;
  overflow: hidden;
  border-radius: 8px;
  border: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.card:hover {
  opacity: 0.7;
}

.card:hover p {
  opacity: 1;
}

#section4 {
  text-align: center;
  padding: 50px 0;
}

#section4 .follow {
  width: 100%;
  background-color: #1c1c1c;
  color: #fffff0;
}

#section4 h2 {
  font-size: 2rem;
}

#section4 .follow {
  border-radius: 5px;
}

.fa {
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  margin: 10px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: opacity 0.3s;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

footer {
  background-color: #1c1c1c;
  color: #fffff0;
  height: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.7em;
}

@media (min-width: 720px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .navbar {
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
  }

  .navbar-nav {
    margin-left: auto; 
  }

  #section1 h2 {
    font-size: 4em;
  }

  #section2 .container {
    display: flex;
    justify-content: space-evenly;
  }

  #section2 .text-container {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #section2 .img-container {
    background-image: url("../assets/movies/nighOfTheLivingDead.png");
    background-size: cover;
    background-position: center center;
    border-radius: 2%;
    width: 500px;
    height: 500px;
  }

  #section4 h2 {
    padding: 0px 0px;
    font-size: 2rem;
    margin: 15px 0px;
  }

  #section4 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  #section4 .follow {
    width: 100%;
    height: fit-content;
    background-color: #1c1c1c;
    color: #fffff0;
  }

  #section4 .socialMedia {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
  }
}
